@model App.Domain.Core.Book.Entity.Book

    <form asp-controller="Admin" asp-action="AddBook" method="post">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input type="text" class="form-control" asp-for="Title">
            
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>