@model List<App.Domain.Core.Book.Entity.Book>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">Borrowed</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <th scope="row">@book.Id</th>
                <td>@book.Title</td>
                <td>@book.IsBorrowed</td>
                <td><a class="btn btn-danger" asp-controller="User" asp-action="DeleteBook" asp-route-id="@book.Id">delete</a></td>

            </tr>

        }

    </tbody>
</table>